.account-info-wrapper
{
    background-color: #ffffff;
    width: 90%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.26);
    margin: 50px auto;
    max-width: 1000px;
}

p.__edit_button
{
    font-weight: 400;
    letter-spacing: 0.25px;
    text-align: left;
    color: #5e5e5e;
    padding: 5px;
    font-size: 10pt;
    line-height: 2;
    display: inline-block;
    border-radius: 4px;
    -webkit-transition: box-shadow .3s cubic-bezier(0, 0, 0.2, 1) 0s;
    transition: box-shadow 0.3s cubic-bezier(0, 0, 0.2, 1) 0s;
    cursor: pointer;
}

.__edit_button > .arrow_right
{
    position: relative;
    top: 1px;
    padding-left: 15px;
    color: #5e5e5e;
    opacity: 0.4;
    float: right;
    -webkit-transition: opacity .3s cubic-bezier(0, 0, 0.2, 1) 0s;
    transition: opacity 0.3s cubic-bezier(0, 0, 0.2, 1) 0s;
}

.__edit_button:hover .arrow_right
{
    opacity: 0.7;
}

.__edit_button:hover
{
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.33);
}

.input_account_info_wrapper
{
    padding-bottom: 20px;
}

#password
{
    margin-bottom: 20px;
}

#full_name
{
    margin-bottom: 20px;
}

.disable_edit .arrow_right
{
    display: none;
}

.disable_edit
{
    cursor: default !important;
}

.disable_edit:hover
{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.edit_popup_wrapper
{
    z-index: 3;
    display: block;
}

.opacity_1
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5)
}

.display_block
{
    display: block !important;
}

.edit_popup .title
{
    text-transform: capitalize;
    text-decoration: none;
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    position: relative;
    margin: 25px 0;
    padding: 0;
    line-height: 40px;
    display: block;
}

fieldset > div
{
    position: relative;
}

fieldset > div > input
{
    display: block !important;
}

.sa-error-container .error_message
{
    left: 0;
    margin-top: 3px;
    margin-right: 49px;
}

.account_choose_plan_button
{
    position: relative;
    display: block;
}
