.properties
{
    position: relative;
    margin: 0 auto;
}

.property
{
    width: 100%;
    float: left;
}

.property > p,
.property > input,
.property > button
{
    float: left;
    width: 33.3%;
}

.property > input
{
    padding: 5px 10px;
}